{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{#    !-- ======= Hero Section ======= -->#}
    <section id="hero">
        <div class="hero-container" data-aos="fade-up">
            <h1>Welcome to our Restaurant</h1>#}
            <h2>We hope you 'll enjoy your meal</h2>
            <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
        </div>
    </section>
{% endblock %}
