{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{#    !-- ======= Home Section ======= -->#}
    <section id="home">
        <div class="home-container">
            <h1> Hotel Mom </h1>
            <br>
            <h2>An all-day dining experience in a great atmosphere, offering simple dishes cooked brilliantly in an extraordinary space in true home style.
                Located in the heart of Brasschaat, Hotel Mom is open every day for breakfast and on Wednesday, Saturday and Sunday for Lunch.
                The menus, which are overseen by our mom with a contemporary twist including a daily offering of traditional dishes.
                The restaurant also includes a 8-seat private dining room and a 4-seat bar overlooking the restaurant, which serve a light menu of bar nibbles and a comprehensive cocktail list.</h2>
        </div>
    </section>
{% endblock %}
